{% extends "template.html" %}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
{% for mesg in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
    {{ mesg  }}
</div>
{% endfor %}
<form action='/register' method='GET'>
    <button class='btn btn-primary' style='text-align: center; position: absolute; top: 5%; right: 5%;'>Register</button>
</form>
<div style='position: absolute; top: 35%; left: 35%'>
    <form action='/login' method='POST'>
        <div>
            <input style='width: 325px; position: relative; left: 35px; top: 50px;' type='text' name='username' class="form-control" autocomplete='off' autofocus placeholder='Username'>
        </div>
        <div>
            <input style='width: 325px; position: relative; left: 37.5px; top: 75px;' type='password' name='password' class='form-control' autocomplete='off' placeholder='Password'>
        </div>
        <button class='btn btn-primary' style='text-align: center; position: absolute; top: 300%; left: 50%;'>Login</button>
    </form>
</div>
{% endblock %}
